<!-- begin::navigation -->
<div class="navigation">
    <div class="navigation-header">
        <span>Navigation</span>
        <a href="#">
            <em class="ti-close"></em>
        </a>
    </div>
    <div class="navigation-menu-body">
        <ul>
            <li>
                <a class="active" href="/user">
                        <span class="nav-link-icon">
                        <em data-feather="pie-chart"></em>
                        </span>
                    <span>Users</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- end::navigation -->
